@charset "utf-8";
.top{height:30%; min-height:250px; background:#51acd9}
.bottom{height:70%; min-height:380px; background:#ecedf1}

.top .txt-1{color:#b4dfe8; width:250px; font-size:15px; margin-top: 80px;}
.top .txt-2{color:#b4dfe8; width:320px; font-size:13px}
.bottom .kuang{width:480px;height:320px;padding:10px;margin-top: -60px;background-image: url(../img/login-bag.png);background-repeat: repeat;}

.bottom .kuang .nei{width:100%; height:100%; background-color:#fff}
.bottom .kuang .nei .nei-2{width:350px; padding-top:40px}
.bottom .kuang .nei .nei-2 input{eight:35px; line-height:35px;margin:10px 0px; border-radius: 3px;-webkit-border-radius: 3px;-moz-border-radius: 3px;}
.bottom .kuang .nei .nei-2 .sy-1{border:1px solid #cacaca; padding-left:10px; width:344px; color:#8a8a8a}
.bottom .kuang .nei .nei-2 .sy-2{border:0px; width:100%; background-color:#51acd9; text-align:center; color:#fff;font-size: 16px;}
.bottom .kuang .nei .nei-2 .txt-3{text-align:center; padding:10px 0px 20px; border-bottom:1px solid #8a8a8a}
.bottom .kuang .nei .nei-2 .txt-3 a{color:#48667e}